<h3>This is the Recipe index page where all the recipes will end up being listed</h3>


<!-- Nav-bar -->
<div class="navigation_bar">

<!-- <%= image_pack_tag("media/images/banner.jpg") %> -->

</div>

<!-- Banner -->
<div class="banner">
</div>

<!-- Cards -->
<div class="cards">
</div>

<!-- Footer -->
<div class="footer">
</div>




