<h3>This is the Recipe index page where all the recipes will end up being listed</h3>


<!-- Nav-bar -->
<div >
</div>

<!-- Banner -->
<div class="banner">
  <h2>
  <span id="banner-typed-text"></span>
</h2>

</div>

<!-- Cards -->
<div >
</div>

<!-- Footer -->
<div >
</div>




