
<!-- Nav-bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- Banner -->
<div class="banner">
  <h2>
  <span id="banner-typed-text"></span>
  </h2>
</div>

<!-- Cards -->
<div class="container">
  <div class="card-group">
    <div class="cards_box mt-5 ">
      <% @recipes.each do |recipe| %>
        <div class="card rounded-3" style="height: 360px;">
           <%= image_pack_tag "media#{recipe. photo_url}", class:"card-img-top", alt: ". .."  %> 
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name  %></h5>
            <p class="card-text"> <%= recipe. description %> </p>
               <%= link_to "Find out more", recipe_path(recipe.id), class: "btn btn-warning button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Footer -->
<div >
</div>




